<div>
	<br /><p>About the company / Sobre a empresa: <a href="https://www.youtube.com/watch?v=teXgoCzunVE" target="_blank">https://www.youtube.com/watch?v=teXgoCzunVE</a></p>
	<p>We appreciate your contact, check that you do not need to fill out the full form if already has this information on its linkedin, and check out the links at the end of the tutorials (developers).</p>
	<p>Já agradecemos o seu contato, confira que você não precisa preencher o formulario completo caso ja tenha essas informações no seu linkedin, e no final confira os links dos tutoriais (developers).</p>
	<p>How we work / Como trabalhamos: <a href="https://docs.google.com/document/d/145QuJ8-efr-pmNGV-2DOOGHD-1dc3MERSeL5g0XoqmM" target="_blank">https://docs.google.com/document/d/145QuJ8-efr-pmNGV-2DOOGHD-1dc3MERSeL5g0XoqmM</a></p>
</div>